body {

	background: url("..//img/background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.title {
	background-color: #CD3333;
	opacity: 0.9;
	height: 5rem;
}

h3 {
	color: white;
	letter-spacing: 0.1rem;
	position: relative;
	bottom: 20%;
	-webkit-font-smoothing: antialiased;
}

.shoppingList {
	background-color: rgba(255,255,255,0.6);
	height: 40rem;
	margin-top: 10rem;
	overflow: scroll;
}

.userInput {
	margin-top: 1rem;
	margin-bottom: 4rem;
	opacity: 0.8;
}

input[type="text"] {
	color: #a8a8a8;
	font-size: 1.5rem;
	-webkit-font-smoothing: antialiased;
}

input::-webkit-input-placeholder {
	color: #a8a8a8 !important;
	-webkit-font-smoothing: antialiased;
	}
					
input:-moz-placeholder { /* Firefox 18- */
	color: #a8a8a8 !important;  
	-webkit-font-smoothing: antialiased;
	}
					
input::-moz-placeholder {  /* Firefox 19+ */
	color: #a8a8a8 !important;  
	-webkit-font-smoothing: antialiased;
}
					
input:-ms-input-placeholder {  
	color: #a8a8a8 !important; 
	-webkit-font-smoothing: antialiased; 
}

.listItem {
	background-color: white;
	opacity: 0.8;
	border-radius: 0.3rem;
	margin-left: -2.2rem;
	margin-right: 1.8rem;
	margin-bottom: 1rem;
	height: 4rem;
	box-shadow: 0.3rem 0.2rem #545454;
	list-style-type: none;
	overflow: scroll;
}

input[type="checkbox"], label {
	color: #939393;
	display: inline-block;
	position: relative;
	top: 20%;
	left: 5%;
	margin-right: 2rem;
	-webkit-font-smoothing: antialiased;
}

li span {
	float: right;
	display: inline-block;
	position: relative;
	top: 20%;
	right: 10%;
	cursor: pointer;
}

